@import "colors";

#component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 2rem;
  position: relative;

    h1 {
        margin-left: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem 1rem;
        align-items: flex-start;

        * {
            margin: .25rem 0;
            color: #fff;
        }

      button {
        background: $header-gold;
        color: $rich-black-fogra-29;
        font-weight: bold;
      }
    }

  .alerts {
    width: 40%;
    position: absolute;
    bottom: -100%;
  }

}